{{#*inline "page"}}

<style>
    section {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-family: sans-serif;
    }

    .channels {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .channel {
        border: 2px solid #3a375a;
        border-radius: 5px;
        padding: 20px;
        margin: 30px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-between;
    }

    .channel a {
        text-decoration: none;

        background-color: #8277ff;
        color: #1b1760;
        display: flex;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        padding-left: 20px;
    }

    .channel b {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .channel_id {
        margin-top: 5pt;
        margin-bottom: 2pt;
    }

    .channel_name {
        margin-top: 3pt;
        font-weight: 800;
    }
</style>

<section>
    <div class="channels">
        {{#each channels}}
        <div class="channel">
            <h1>Platform: {{ channel.platform }}</h1>
            <p class=channel_id>Channel: {{ channel.channel }}</p>
            <p class=channel_name> {{ #if name }} ({{ name }}){{ /if }}</p>
            <p>ID: {{ channel.id }}</p>
            <a href="/channels/{{channel.id}}/commands">
                <img src="/static/list-solid.svg" height="24" width="24" /><b>Command list</b>
            </a>
        </div>
        {{ else }}
        <h1>Nothing here!</h1>
        {{/each}}
    </div>
</section>

{{/inline}}
{{~>(parent_context.name)~}}
