{{#*inline "page"}}

<script>
    function showCommandEditDialog(trigger) {
        if (trigger != null) {
            document.getElementById("command-dialog-title").innerHTML = "Edit command";

            document.getElementById("command-trigger-input").value = trigger;

            const action = document.getElementById(trigger + "-action").innerHTML;

            document.getElementById("command-action-input").value = action;
        }
        else {
            document.getElementById("command-dialog-title").innerHTML = "Add command";
        }


        document.getElementById("command-dialog").style.display = "flex";
    }

    function closeCommandEditDialog() {
        document.getElementById("command-dialog").style.display = "none";
    }

    async function deleteCommand(command_trigger) {
        if (confirm("Are you sure you want to delete the command \"" + command_trigger + "\"?")) {
            const url = window.location.href;

            const options = {
                method: "DELETE",
                body: command_trigger,
                credentails: "same-origin"
            }

            await fetch(url, options);

            window.location.reload();
        }

    }
</script>

<style>
    section {
        text-align: center;
    }

    table {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        border: none;
        border-collapse: collapse;

        font-family: sans-serif;
    }

    td,
    th {
        padding: 10px;
    }

    th,
    td {
        border-color: #363452
    }

    th,
    tr:nth-child(2n+2) {
        background-color: #29273f;
    }

    #command-dialog {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
    }

    #command-dialog #content {
        position: relative;
        margin: auto;
        background-color: #5e5992;
        width: 30%;
        padding: 20px;
        border-radius: 10px;
    }

    #command-dialog #content form label {
        font-size: 20px;
    }

    #command-dialog #content form .text-input {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #command-dialog #content h1 {
        text-align: center;
        font-size: 24px;
    }

    #command-dialog #background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    #add-command-button {
        margin: 20px;
        min-width: 15%;
    }
</style>

<section>
    <h1>Command list for channel {{ channel }}</h1>
    <table id="commands_table" border=1>
        <col style="width:25%">
        <col style="width:50%">
        <col style="width:5%">
        <col style="width:15%">
        <thead>
            <th>Name</th>
            <th>Action</th>
            <th>CD</th>
            <th>Permissions</th>
            {{ #if moderator }}
            <th>Mod</th>
            {{ /if }}
        </thead>
        <tbody>
            {{#each commands }}
            <tr>
                <td class="first"><b>{{ this.name }}</b></td>
                <td id="{{ this.name }}-action">{{ this.action }}</td>
                <td>{{ #with this.cooldown }}{{ this }}{{else}}0{{/with}}s</td>
                <td class="last">
                    {{ #if this.permissions }}
                    {{ this.permissions }}
                    {{ else }}
                    Everyone
                    {{ /if }}
                </td>
                {{ #if ../moderator }}
                <td>
                    <div style="display: flex;">
                        <button type="button" onclick="showCommandEditDialog('{{ this.name }}')">
                            <img src="/static/edit.svg" height="16" />
                        </button>
                        <button type="button" onclick="deleteCommand('{{ this.name }}')">
                            <img src="/static/cancel.svg" height="16" />
                        </button>
                    </div>
                </td>
                {{ /if }}
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{ #if moderator }}
    <button type="button" id="add-command-button" onclick="showCommandEditDialog(null)">Add command</button>
    {{ /if }}
</section>

<div id="command-dialog">
    <div id="background" onclick="closeCommandEditDialog()"></div>
    <div id="content">
        <h1 id="command-dialog-title"></h1>
        <form method="POST">
            <label>Trigger:</label>
            <input class="text-input" id="command-trigger-input" name="trigger" readonly><br>
            <label>Action:</label>
            <input class="text-input" id="command-action-input" name="action"><br>
            <input type="submit" value="Add">
            <input type="reset" onclick="closeCommandEditDialog()" value="Cancel">
        </form>
    </div>
</div>

{{/inline}}
{{~>(parent_context.name)~}}