{{#*inline "page"}}

<style>
    section {
        text-align: center;
    }

    table {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        border: none;
        border-collapse: collapse;

        font-family: sans-serif;
    }

    .title {
        display: flex;
        width: 100%;
    }

    .title h1 {
        margin-left: auto;
        margin-right: auto;
    }


    td,
    th {
        padding: 10px;
    }

    td {
        border-color: #363452
    }

    th,
    tr:nth-child(2n+2) {
        background-color: #29273f;
    }

    th {
        border: none;
    }


    .first {
        border-left: none;
    }

    .last {
        border-right: none;
    }

    #show-modal-button {
        margin-top: auto;
        margin-bottom: auto;
        background-color: #32c552;
        border: none;
        border-radius: 5px;
    }
</style>

<section>
    <div class="title">
        <h1>Command list for channel {{ channel }}</h1>
    </div>
    <table id="commands_table" border=1>
        <col style="width:25%">
        <col style="width:50%">
        <col style="width:5%">
        <col style="width:15%">
        <thead>
            <th>Name</th>
            <th>Action</th>
            <th>CD</th>
            <th>Permissions</th>
            {{ #if moderator }}
            <th>Mod</th>
            {{ /if }}
        </thead>
        <tbody>
            {{#each commands }}
            <tr>
                <td class="first"><b>{{ this.name }}</b></td>
                <td>{{ this.action }}</td>
                <td>{{ #with this.cooldown }}{{ this }}{{else}}0{{/with}}s</td>
                <td class="last">
                    {{ #if this.permissions }}
                    {{ this.permissions }}
                    {{ else }}
                    Everyone
                    {{ /if }}
                </td>
                {{ #if ../moderator }}
                <td>
                    <div style="display: flex;">
                        <button type="button">
                            <img src="/static/edit.svg" height="16" />
                        </button>
                        <button type="button">
                            <img src="/static/cancel.svg" height="16" />
                        </button>
                    </div>
                </td>
                {{ /if }}
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>

{{/inline}}
{{~>(parent_context.name)~}}