{{#*inline "page"}}

<style>
    table {
        width: 70%;
    }

    h1 {
        text-align: center;
    }

    td {
        padding: 8px;
    }
</style>

<section>
    <h1>Command list for channel {{ channel }}</h1>
    <table border=1>
        <col style="width:15%">
        <col style="width:60%">
        <col style="width:5%">
        <col style="width:20%">
        <thead>
            <th>Name</th>
            <th>Action</th>
            <th>CD</th>
            <th>Permissions</th>
        </thead>
        <tbody>
            {{#each commands }}
            <tr>
                <td>{{ this.name }}</td>
                <td>{{ this.action }}</td>
                <td>{{ this.cooldown }}s</td>
                <td>{{ this.permissions }}</td>
            </tr>
            {{/each}}
        </tbody>

    </table>
</section>

{{/inline}}
{{~>(parent_context.name)~}}