{{#*inline "page"}}

<script>
    async function setLastfmName() {
        const name = prompt("Enter Last.FM username", "{{lastfm_name}}");

        if (name != null) {
            const base_url = window.location.origin;

            const url = base_url + "/api/user/lastfm";

            const options = {
                method: 'POST',
                body: name,
                credentials: "same-origin"
            }

            await fetch(url, options);

            location.reload();
        }
    }
</script>

<style>
    section {
        font-size: 22px;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        
        display: flex;
        justify-content: center;
    }

    div {
        text-align: center;
    }
    
    a:link, a:visited {
        color: lightblue;
    }
</style>

<section>
    <div>
        <p><b>Name: </b>{{ parent_context.session.username }}</p>
        <p><b>User ID: </b>{{ user.id }}</p>
        <p><b>Twitch ID: </b>
            {{ #with (user.twitch_id) }}
            {{ this }}
            {{ else }}
            <a href="/authenticate/twitch">Connect</a>
            {{ /with }}
        </p>
        <p><b>Discord ID: </b>
            {{ #with (user.discord_id) }}
            {{ this }}
            {{ else }}
            <a href="/authenticate/discord">Connect</a>
            {{ /with }}
        </p>
        <p><b>Spotify: </b>
            {{ #if spotify_connected }}
            Connected (<a href="/authenticate/spotify/disconnect">Disconnect</a>)
            {{ else }}
            <a href="/authenticate/spotify">Connect</a>
            {{ /if }}
        </p>
        <p><b>Last.FM: </b>
            <span id="lastfm_name">
                {{ #if lastfm_name }}
                {{ lastfm_name }}
                {{ else }}
                Not set
                {{ /if }}
            </span>
            <button type="button" onclick="setLastfmName()">Set</button>
        </p>
    </div>
    {{ #if admin }}
    <div>
        <p>Admin options:</p>
        <a href="/authenticate/twitch/bot">Authenticate bot (Twitch)</a>
    </div>
    {{ /if }}
</section>

{{/inline}}
{{~>(parent_context.name)~}}